{
  "Prevent Looting": {
    "Enabled": true,
    "Admins Can Always Loot": true,
    "Allow Looting Players": false,
    "Allow Looting Corpses": false,
    "Allow Looting Storage Containers": false,
    "Use Teams For Allies": true,
    "Use Friends API For Allies": true,
    "Respect Cupboard Authorization": true,
    "Only In Cupboard Range (if true)": false,
    "Protect Planterboxes (Prevent unauthorized harvesting)": true,
    "Can Loot Backpack": false,
    "Allow Looting Sleepers (non-ally can loot when true)": false,
    "Debug Logging": false,
    "Excluded ShortPrefabNames": [],
    "Exclude Entities": ["mailbox.deployed"]
  },
  "Loot Defender": {
    "Enabled": true,
    "Lock Bradley Crates": true,
    "Lock Patrol Heli Crates": true,
    "Lock NPC Corpses": true,
    "Lock Radius (meters)": 25,
    "Lock Duration (seconds, 0 = forever)": 900,
    "Group By Team (sum team damage)": true,
    "Allow Allies (Clan/Friends) Of Winners": true,
    "Block Looting Only (don't block damage)": true,
    "Bradley - Damage Lock Threshold": 0.2,
    "Bradley - Lock Time (seconds, 0 = forever)": 900,
    "Helicopter - Damage Lock Threshold": 0.2,
    "Helicopter - Lock Time (seconds, 0 = forever)": 900,
    "NPC - Damage Lock Threshold": 0.2,
    "NPC - Lock Time (seconds, 0 = forever)": 900,
    "Hackable Crates - Enabled": true,
    "Hackable Crates - Lock Time (seconds, 0 = forever)": 900,
    "Hackable Crates - Block Timer Increase On Damage To Laptop": true
  },
  "PvE": {
    "Enable game server.pve (block PvP + reflect, demolish, tags)": true,
    "PvE bullet damage multiplier (player -> NPC)": 1.0,
    "Protect sleeping players (block damage from other players)": true,
    "Player auto turrets ignore players (target NPCs/animals only)": true,
    "Static/monument auto turrets ignore players": false,
    "Safe zone NPC auto turrets ignore players": false,
    "Turret ignore players debug logging": false
  }
}
